code {
    background-color: silver;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
    color: black;
}

.ubuntu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_title {
        text-align: center;
        font-weight: bold;
        padding-bottom: 1.2em;
    }
    
    &_content {
        text-align: left;
        padding-bottom: 1.2em;
    }
}