.footer {
    background-color: #004070;
    color: #8f8f8f;
    padding: 2em;

    &_object {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &_owner {
        text-align: center;
        padding: 2em;
        padding-bottom: 0.5em;
    }
}