.keyboard {
    margin-top: 2em;
    border: grey 2px solid;
    border-radius: 8px;
    padding: 0.5em;
    width: 900px;
    margin: auto;
}

.line {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span {
    border: #555 solid 1px;
    border-radius: 5px;
    height: 32px;
    width:  32px;
    padding-top: 4px;
}
.first {
    height: 25px;
    width: 32px;
    font-size: 0.7em;
    padding-top: 4px;
}
.carre {
    font-size: 0.5em;
    padding-top: 20px;
}
.low {
    font-size: 0.7em;
}
.low2 {
    font-size: 0.6em;
}
.empty {
    border: none;
    width: 22px;
}
.space {
    width: 60px;
}
.spaceBar {
    width: 220px;
}
.tab {
    width: 64px;
}
.lock {
    width: 80px;
}

.shift {
    width: 40px;
}
.shiftRight {
    width: 65px;
}
.arrow {
    padding-bottom: 6px;
}

.red:hover {
    background-color: rgba($color: red, $alpha: 0.5);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 70px red;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 80px red;
  }
}

.yellow:hover {
    background-color:rgba($color: yellow, $alpha: 0.5);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 70px yellow;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 80px yellow;
  }
}
.green:hover {
    background-color: rgba($color: green, $alpha: 0.5);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 70px green;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 80px green;
  }
}
.blue:hover {
    background-color:rgba($color: blue, $alpha: 0.5);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 70px blue;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 80px blue;
  }
}
.purple:hover {
    background-color: rgba($color: purple, $alpha: 0.5);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 70px purple;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 80px purple;
  }
}