.keyboard {
    margin-top: 2em;
    border: grey 2px solid;
    border-radius: 8px;
    padding: 0.5em;
    width: 900px;
    margin: auto;
}

.line {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span {
    border: #555 solid 1px;
    border-radius: 5px;
    height: 32px;
    width:  32px;
    padding-top: 4px;

    &:hover {
        background-color: #ff3333;
    }
}
.first {
    height: 25px;
    width: 32px;
    font-size: 0.7em;
    padding-top: 4px;
}

.low {
    font-size: 0.7em;
}
.low2 {
    font-size: 0.6em;
}
.empty {
    border: none;
    width: 22px;
}
.space {
    width: 60px;
}
.spaceBar {
    width: 220px;
}
.tab {
    width: 64px;
}
.lock {
    width: 80px;
}

.shift {
    width: 40px;
}
.shiftRight {
    width: 65px;
}