.swapi {
    background-color: #003366;

    &_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #003366;
    }

    &_title {
        text-align: center;
        padding-bottom: 1.2em;
        font-weight: bold;
    }
}
.error {
    color: red;
    font-weight: bold;
    padding: 1.2em;
}
